<form action="" class="add-form">
    <div class="form-controls">
        <label for="text">Tasks</label>
        <input type="text" name="text" id="text" placeholder="Add Task"/>
    </div>
    <div class="form-controls">
        <label for="time">Time</label>
        <input type="text" name="time" id="time" placeholder="Add Time"/>
    </div>
    <div class="form-controls form-controls-check">
        <label for="reminder">Reminder</label>
        <input type="checkbox" name="reminder" id="reminder" />
    </div>
    <input type="submit" value="Save Task" class="btn btn-block"/>
</form>
